<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="COG_Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <COG_Model.Properties.Settings>
            <setting name="NumberIterations" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimeIteration" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberOfAgents" serializeAs="String">
                <value>0</value>
            </setting>
        </COG_Model.Properties.Settings>
    </userSettings>
</configuration>